<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

  <!--link rel="stylesheet" href="style.css"-->
</head>

<body>

  <!-- Header with primary button to refresh data -->
  <div class="container-fluid">
      <div class="jumbotron text-center">
        <h1><b>Mission to Mars</b></h1>
        <a class="btn btn-primary btn-lg" href="../scrape" role="button">Scrape New Data</a>
      </div>
  </div>

  <!-- New section with latest news -->
  <div class="row">
      <div class="col-md-12">
        <div class="media">
          <div class="media-body">
            <h3><b>Latest Mars News</b></h3>
            <h4 class="heading">{{mars_data.news_tit}}</h4>
            <p>{{mars_data.news_para}}</p>
            <hr class="my-4">
          </div>
        </div>
      </div>
  </div>

  <!-- New section divided into two columns -->
  <div class="row">

  <!-- Left Side -->
  <!-- Row for Featured Mars Image -->  
    <div class="col-md-8">
      <h3><b>Featured Mars Image</b></h3>
      <img src={{mars_data.featured_image_url}} height=auto width=750px>
    </div>

    <!-- Row for Mars Facts HTML data -->
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <h4><b>Mars Facts</b></h4>
              <p>{{mars_data.mars_facts | safe}}</p>
            </div>
          </div>
        </div>
      </div>       
    </div>
  </div>

  <!-- New Section is divided into a 2x2 panel for Hemisphere Images -->
  <div class="row" style="margin-top:80px;">
    <div class="page-header">
      <h2 class="text-center"><b>Mars Hemispheres</b></h2>
    </div>
    <!-- Loop through hemispheres dictionary with images and titles -->
    {% for hemisphere in mars_data.hemisphere_urls %}
      <div class="col-md-6">
        <div class="thumbnail">
          <img src="{{hemisphere.img_url}}">
        <div class="caption">
          <h3><b>{{hemisphere.title}}</b></h3>
        </div>
      </div>
    {% endfor %}
  </div>
</body>
</html>